@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;600;700&display=swap');

body{
    background-color: hsl(20, 50%, 98%);  
   margin: 20px;
   padding: 10px;
    font-family: 'Red Hat Text', sans-serif;
 

}
 
.mother{
    width: 90%;
    max-width:1440px; 
     display: flex;
    flex-direction:row;
    align-items: flex-start;
    gap: 20px;
     
}
 
h1{
    font-weight: 700;
    font-size: 36px;
    color: hsl(14, 65%, 9%);
    margin-bottom: 10px;
}
 .carts{
    width: 200px;
    height: auto;
     color:  hsl(0, 0%, 0%);
    display: flex;
    flex-direction: column;
    padding: 6px;
 }
 
 .fimg{
    position: relative;
 }
 img{
    width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
 }
 button{
    border-radius: 30px ; 
    border: 0.1px solid hsl(14, 25%, 38%);
    position: absolute;
    bottom: -18px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
 width: 135px;
height: 35px;
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 8px;
 }
.bu-im{
   width: 16px;
   height: auto;
   margin-right: 0px;
}
 p{
    font-size: 10px;
    margin-top: 30px;
    margin-bottom: 1px;
   color: hsl(12, 20%, 44%);
    
     
 }
 h4{
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: 1px;
     
    color: hsl(14, 65%, 9%); 
    font-weight: 600; 
 }
 .price{
    font-size: 12px;
    margin-top: 0px;
    color: hsl(14, 86%, 42%);
    font-weight: 600;
 }
 .added-cart{
   background-color: white;
   padding: 24px;
   border-radius: 12px;
  width: 350px;
  height: auto;
  font: weight 700 ;
 }
 h2{
   font-weight: 700;
   font-size: 24px;
color: hsl(14, 86%, 42%);
 }
 .last-p{
   color:hsl(12, 20%, 44%) ;
   font-size: 14px;
   font-weight: 600;
   text-align: center;
 }
 .last-img{
width:129px;
height:auto;
display:block;
margin:auto;
 }
 .footer{
   margin-top: 90px;
 }